<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="utf-8">
    <title>AddressBook - ADD Contact</title>

    <!-- Custom styles for this template -->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<header>
    <h1>Address Book App</h1>
    <p>Contacts app for students in SYSC 4806</p>
    <p>Add a contact</p>
</header>
<body>
<div class="content-div">
    <table class="layout-table">
        <tbody class="layout-tbody">
        <tr class="layout-row">
            <td class="nav-td">
                <nav class="syscbook-navbar">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="./buddy">Contacts</a></li>
                        <li><a id="active-item" href="./addbuddy">Add Contact</a></li>
                        <li><a href="./deletebuddy">Delete Contact</a></li>
                        <li><a href="./book">Contact Books</a></li>
                    </ul>
                </nav>
            </td>
            <td class="main-td">
                <main>
                    <section id="post-form-section">
                        <form action="/buddy" method="post">
                            <fieldset>
                                <legend>Add a contact</legend>
                                <label for="name">Name:</label>
                                <input id="name" type="text" name="name">
                                <label for="phone">Phone #:</label>
                                <input id="phone" type="text" name="phoneNumber">
                            </fieldset>
                            <input type="submit">
                        </form>
                    </section>
                </main>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>