<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="utf-8">
    <title>AddressBook - GET Books</title>

    <!-- Custom styles for this template -->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<header>
    <h1>Address Book App</h1>
    <p>Contacts app for students in SYSC 4806</p>
    <p>Retrieved books</p>
</header>
<body>
<div class="content-div">
    <table class="layout-table">
        <tbody class="layout-tbody">
        <tr class="layout-row">
            <td class="nav-td">
                <nav class="syscbook-navbar">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/getbuddies">Contacts</a></li>
                        <li><a href="/addbuddy">Add Contact</a></li>
                        <li><a href="/deletebuddy">Delete Contact</a></li>
                        <li><a href="/getbuddy">Get Contact</a></li>
                        <li><a id="active-item" href="/getbooks">Contact Books</a></li>
                        <li><a href="/createbook">Create Book</a></li>
                        <li><a href="/deletebook">Delete Book</a></li>
                        <li><a href="/getbook">Get Book</a></li>
                    </ul>
                </nav>
            </td>
            <td class="main-td">
                <main>
                    <section id="post-form-section">
                        <h1 th:if="${not #lists.isEmpty(books)}">Contact books in the system are as follows!</h1>
                        <h1 th:if="${#lists.isEmpty(books)}"> No address books have been created in the system. </h1>
                        <th:block th:remove="tag" th:each="book:${books}" th:with="count=${#lists.size(book.getBuddies())}">
                            <p th:text="'BOOK ID: ' + ${book.getId()}"></p>
                            <div th:if="${#lists.isEmpty(book)}">
                                <p> There are no contacts in this book. </p>
                            </div>
                            <ul>
                                <li th:each="buddy: ${book.getBuddies()}" th:text="${buddy.toString()}"></li>
                            </ul>
                        </th:block>
                    </section>
                </main>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>